<footer class="container">
    <div class="text-center">
        <a class="footer_links text-secondary" href="https://www.linkedin.com/in/thomas-doig-3d/?originalSubdomain=au" target="_blank"><i class="fab fa-2x fa-linkedin"></i></a>
        <a class="footer_links text-secondary" href="https://github.com/glowingmoth " target="_blank"><i class="fab fa-2x fa-github"></i></a>
        <a class="footer_links text-secondary" href="https://www.instagram.com/glowingmoth/" target="_blank"><i class="fab fa-2x fa-instagram-square"></i></a>
        <a class="footer_links text-secondary" href="https://assetstore.unity.com/publishers/46321" target="_blank"><i class="fab fa-2x fa-unity"></i></a>
        <a class="footer_links text-secondary" href="https://www.youtube.com/channel/UC85rRCEqMkmaI-bgZ6TP6vA" target="_blank"><i class="fab fa-2x fa-youtube-square"></i></a>
    </div>
</footer>