<div class="container">
    <h4 class="text-center mt-2">About</h4>
    <strong>Overview</strong>
    <p>Glowing Moth was founded in 2019 by Thomas doig. Coming from a background in real-time computer graphics and more specifically game development, it is the mission of Glowing Moth to develop indie games. This is the Glowing Moth Marketplace where 3d assets can be purchased for your indie game projects.
    </p>
    <br />
    <strong>3d Assets</strong>
    <p>We provide a place for other developers to purchase and download 3d assets for their own projects. In order to purchase assets from the Glowing Moth Marketplace you must first create an <%= link_to "account", new_user_registration_path %> This is as simple as entering your name email and creating a password. Should you choose, you may remove your account at anytime.
    </p>


</div>



