<div class="container">
    <h4 class="text-center mt-2">Contact</h4>
    <p>
        If you would like to contact us please use the contact form below. We reply to all emails so please be patient. Feel free to ask us anything from making requests on new assets to upload, or even if you have some feeback we would love to hear from you!
    </p>
    <div class="contact-section">
        <form class="contact-form" action="contact.html" method="post">

            <div class="form-group field">
                <label for="name">Name</label>
                <input type="text" class="contact-form-text form-control" id="name">
            </div>

            <div class="form-group field">
                <label for="email">Email</label>
                <input type="email" class="contact-form-text form-control" id="name">
            </div>

            <div class="form-group field">
            <label for="email">Enquiry</label>
                <textarea  class="contact-form-text form-control" rows="5"></textarea><br>
            </div>

            <button>Send</button>
            
        </form>
    </div>
</div>
